@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap');

body {
    display: flex;
    flex-direction: column;
}
.header, footer, .two {
   background-color: #1F2937;
    color: #F9FAF8
}

.header {
    margin: 0;
    padding-left: 25px;
    
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    
    
}
.two {
    margin: 0;
    display: flex;
    justify-content: center;
    gap: 50px;
    padding: 25px;
    padding-bottom: 100px;
    padding-top: 70px;
    
}

.yes {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
  

}

.two img {
    display: flex;
    width: 350px;
    padding: 20px;
    padding-bottom: 55px;
    
}

a {
    text-decoration: none;
    color: #E5E7EB;
}

ul {
    list-style: none;
    display: flex;
    margin: 0;
    padding: 25px;
    gap: 20px;

}

.square img {
    max-height: 50px;
    max-width: 50px;

  
}

button {
    background-color: #3882F6;
    display: flex;
    justify-content: center;
    padding: 5px;
    border-radius: 25px;
    
    
}
.three {
    text-align: center;
    margin-top: 30px;
   
}

.square {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
   margin-bottom: 45px;
}

h2 {
    margin-bottom: 32px;
}

.four {
    background-color: rgb(236, 231, 231);
    padding: 75px;
}

.five {
    background-color: #3882F6;
    margin: 50px;
    border-radius: 25px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 50px;
    padding-right: 50px;
    gap: 50px;
}

.rectangle {
    
    padding-top: 50px;
    padding-bottom: 50px;
}

footer {
    display: flex;
    justify-content: center;
}